@import url('https://fonts.googleapis.com/css?family=VT323');
// font-family: 'VT323', monospace;
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
// font-family: 'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
// font-family: 'Libre Baskerville', serif;
@import url('https://fonts.googleapis.com/css?family=Kreon');
// font-family: 'Kreon', serif;

:root, html, body {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/*
 * Links
 */
a {
  text-decoration: none;
  color: purple;
}
a:hover {
  opacity: .84;
}

/*
 * Typography
 */
h1, h2, h3, h4, h5, p {
  transition: all 0.6s ease;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h1, h2, h3, h4, h5 {
  font-family: 'Kreon', serif;
}
h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
}
p {
  line-height: 24px;
}
.text-mono {
  font-family: 'VT323', monospace;
  font-weight: 300;
}
.text-display-4 {
  font-family: 'VT323', monospace;
  font-size: 65px;
  line-height: 80px;
  font-weight: 300;
  // phones
  @media (max-width:$phone_only) {
    font-size: 65px;
    line-height: 80px;
  }
  // tablet portrait
  @media (min-width: $tablet_portrait_min) and (max-width: $tablet_portrait_max) {
    font-size: 80px;
    line-height: 90px;
  }
  // tablet landscape
  @media (min-width: $tablet_landscape_min) and (max-width: $tablet_landscape_max) {
    font-size: 90px;
    line-height: 100px;
  }
  // desktops
  @media (min-width: $desktop_min) and (max-width: $desktop_max) {
    font-size: 100px;
    line-height: 120px;
  }
  // large desktops
  @media (min-width: $big_desktop_min) {
    font-size: 110px;
    line-height: 130px;
  }
}
.text-display-3 {
  font-family: 'VT323', monospace;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
}
.text-display-2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 52px;
}
.text-display-1 {
  font-family: 'Abel', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: #474747;
  letter-spacing: 3px;
}
.toolbar > h1 {
  font-size: 24px;
  line-height: normal;
}
.title {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  // phones
  @media (max-width:$phone_only) {
    font-size: 18px;
  }
  // tablet portrait
  @media (min-width: $tablet_portrait_min) and (max-width: $tablet_portrait_max) {
    font-size: 18px;
  }
  // tablet landscape
  @media (min-width: $tablet_landscape_min) and (max-width: $tablet_landscape_max) {
    font-size: 18px;
  }
  // desktops
  @media (min-width: $desktop_min) and (max-width: $desktop_max) {
    font-size: 18px;
  }
  // large desktops
  @media (min-width: $big_desktop_min) {
    font-size: 20px;
  }
}
.caption {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  color: #6a6565;
  line-height: 24px;
}

/*
 * Text format
 */
.text--center {
  text-align: center;
}
.text--bold {
  font-weight: 700;
}
